@import "./variables";
/**
 * Table Of Content
 *
 *  1. Globals
 *  2. Headers
 *  3. Navigations
 *  4. Banners
 *  5. Footers
 *  6. Posts
 *  7. Widgets
 *  8. Custom Templates
 */

 @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/******************* 
Global Styles 
*******************/

* {
    outline: none;
    
}
html {
    position: relative;
    min-height: 100%;
    background: $white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

body {
    font-family: $bodyfont;
    margin: 0;
    overflow-x: hidden;
    color: $black;
    font-weight: 300;
    font-size: 20px;
}

a{
    color:inherit;
}
a:hover,
a:focus {
    text-decoration: none;
} 

a.link {
    color: inherit;
    &:hover,
    &:focus {
        color: $blue;
    }
}

.img-responsive {
    width: 100%;
    height: auto;
    display: inline-block;
}

.img-rounded {
    border-radius: 4px;
}

* {
    outline: none;
    
}

#root{
    height: 100%;
}

.app {
    display: flex;
    height: 100%;
}

/* Buttons */
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #568197;
    border-color: #568197;
}

/* Layout */
.ant-layout{
    background: $white;
}

.ant-layout-content{
    background-color: $light-blue;
    margin: 0 !important;
    margin: 24px 16px 0px;
}
